<!-- index.hbs -->

<h1>ThE SeRvEr Is RuNnIng!!!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the reservation_id, employee_id, date_time_created, program_id, is_campground, campground_id, camping_start_date, camping_end_date, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.reservation_id}}</td>
            <td>{{this.employee_id}}</td>
            <td>{{this.date_time_created}}</td>
            <td>{{this.program_id}}</td>
            <td>{{this.is_campground}}</td>
            <td>{{this.campground_id}}</td> 
            <td>{{this.camping_start_date}}</td>
            <td>{{this.camping_end_date}}</td>  
        </tr>
        {{/each}}
    </tbody>
</table>