<!-- reservations.hbs -->

<head>
    <meta charset="utf-8"> <!--allows for all characters to be entered into html file-->
    <title>Manage Park Reservations</title>
</head>

<!--nav bar links to all entity html files-->
        <nav>
            <a href="/">Home</a> |
            <a href="/campgrounds">Campgrounds</a> |
            <a href="/reservations">Reservations</a> |
            <a href="/employees">Employees</a> |
            <a href="/participants">Participants</a> |
            <a href="/programs">Programs</a> |
        </nav>

<h1>Manage Park Reservations</h1>
<p>Use the forms below to create new reservations or manage existing ones.</p>

{{!-- Create a table --}}
<table id="reservations-table">

    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the reservation_id, employee_id, date_time_created, program_id, is_campground, campground_id, camping_start_date, camping_end_date, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.reservation_id}}</td>
            <td>{{this.employee_id}}</td>
            <td>{{this.date_time_created}}</td>
            <td>{{this.program_id}}</td>
            <td>{{this.is_campground}}</td>
            <td>{{this.campground_id}}</td> 
            <td>{{this.camping_start_date}}</td>
            <td>{{this.camping_end_date}}</td> 
            <td><button onclick="delete_reservation({{this.reservation_id}})">Delete</button></td> 
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_reservation.js"></script>


{{!-- Form to add a record to the table  --}}
<h2>Create New Reservation</h2>
<p>To add a new reservation, please enter appropriate information below and click 'Submit Reservation'!</p>
<form id="add-reservation-form-ajax">
            <fieldset>
                <legend>New Reservation</legend>
                <!--dropdown menu for employee_id-->
                <label for="employee_id">Employee ID</label> <!--foreign key-->
                    <select id="employee_id" name="employee_id">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="NULL">NULL</option>
                    </select>
                <label for="date_time_created">Date Created</label>
                    <input type="datetime-local" id="date_time_created" name="date_time_created">
                <label for="campground">Input "1" for Campground OR "0" for Program</label>
                    <input type="text" id="is_campground" name="is_campground">
                    
                <!--dropdown menu for campground_id-->
                <br><label for="campground_id">Campground ID</label> <!--foreign key-->
                    <select id="campground_id" name="campground_id">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="NULL">NULL</option>
                    </select>
                <!--dropdown menu for program_id-->
                <label for="program_id">Program ID</label> <!--foreign key-->
                    <select id="program_id" name="program_id">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="NULL">NULL</option>
                    </select>
                <br><br><label for="camping_start_date">Camping Start Date</label> 
                    <input type="date" id="camping_start_date" name="camping_start_date">
                <label for="camping_end_date">Camping End Date</label> 
                    <input type="date" id="camping_end_date" name="camping_end_date">
            </fieldset>
            <input type="submit">
        </form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_reservation.js"></script>


<!--Form to update a reservation record-->
<h2>Manage Reservation</h2>
<p>To update a camping reservation's start or end dates, select the reservation ID from the drop-down menu on the left and the new dates on the right.</p>
<form id="update-camping-dates-form-ajax">
    <label for="input-reservation-id">Reservation ID: </label>  
    <select name="input-reservation-id" id="mySelect">
        <option value="test">Select a reservation</option>
        {{#each data}}
        <option value="{{this.reservation_id}}">{{this.reservation_id}}</option>
        {{/each}}
    </select>

    <label for="input-camping-start-date">Camping Start Date: </label>
        <input 
            type="date" 
            id="input-camping-start-date" 
            name="input-camping-start-date"
            required />
    <label for="input-camping-end-date">Camping End Date: </label>
        <input
            type="date"
            id="input-camping-end-date"
            name="input-camping-end-date"
            required />
    <input type="submit">

</form>

<scipt src="./js/update_camping_dates.js"></scipt>